@import "tailwindcss";

:root {
  --background: #fff9f3;
  --foreground: #0b0b0b;
  --body-text: #494949;
  --primary: #f47b20;
  --container-width: 1320px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-body-text: var(--body-text);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
  --font-outfit: var(--font-outfit);
  --font-geist: var(--font-geist);
  --font-manrope: var(--font-manrope);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
